/node_modules/

/dist/

/.env
/.env.local
/.env.*.local

/.vite/

*.log

.DS_Store        # macOS
Thumbs.db        # Windows

.vscode/

yarn.lock
package-lock.json

*~
*.bak
*.swp

*.tmp
*.temp

/vireyaWeb/.env